@page
@model Shows4all.App.Pages.CreditCards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardPayment[0].CardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardPayment[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardPayment[0].CVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardPayment[0].ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardPayment[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CreditCardPayment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p><a href="/CreditCardFilter/index">Find Credit Card</a></p>

