@page
@model Shows4all.App.Pages.ViewEpisodes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episode.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.EpisodeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episode.EpisodeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episode.Season.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Episode.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
