@page
@model Shows4all.App.Pages.ViewSeries.IndexModelClient

@{
    ViewData["Title"] = "Series";
}

<h1> Series</h1>


<p>

</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Serie[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Description)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ReleaseDateSort">
                    @Html.DisplayNameFor(model => model.Serie[0].ReleaseDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Country)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Serie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>

                <td>
                    <p><a href="/comments">Comments</a></p>
                    <p><a href="/viewEpisodes">Episodes</a></p>

                </td>
            </tr>
        }
    </tbody>
</table>
