

@page
@model Shows4all.App.Pages.ViewSeries.IndexModelClient

@{
    ViewData["Title"] = "Index";
}

<h1> Series</h1>

<div class="card-deck">
    @foreach (var serie in Model.Serie)
    {

        //var photoPath = "~/images/" + ("FIVEO.jpg");
        //var photoPath = "~/images/" + ("HOW.jpg");

    <div class="card m-3" style=" min-width: 18rem; max-width:30.5%;">
        <div class="card-header">
            <h3>@serie.Name</h3>
        </div>

        @*<img class="card-img-top img-thumbnail" src="@photoPath"
        asp-append-version="true" />*@

        <div class="card-footer text-center">
           <p><a href="/comments/index">Comments</a></p>
            @*<a href="#" class="btn btn-primary m-1">View</a>*@
        </div>
    </div>

        

    }
</div>





@*@page
    @model Shows4all.App.Pages.ViewSeries.IndexModelClient

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Serie[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie[0].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie[0].Season)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Serie) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season.Id)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
