@page
@model Shows4all.App.Pages.Comments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Comments Page</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].PublishedDAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDAte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
