@page
@model Shows4all.App.Pages.Participates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participate.Actor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participate.Actor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participate.Episode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participate.Episode.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Participate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
