@page
@model Shows4all.App.Pages.Series.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Series Management Page</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Serie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Create Seasons</h2>

<p><a href="/Seasons/index">Seasons</a></p>

<h2>Create Episodes</h2>

<p><a href="/Episodes/index">Episodes</a></p>

<h2>Create Country</h2>

<p><a href="/Countries/index">Country</a></p>

<h2>Create Genre</h2>

<p><a href="/Genres/index">Genre</a></p>


<hr/>


<div>
    <p><a href="/User/index">Back to menu</a></p>

</div>
